<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="sourcepath" value="D:\SourceFiles"/>
 <add key="destinationPath" value="D:\DestinationFiles"/>
</appSettings>
</configuration>